.Dictionary section {
  padding: 30px 45px;
  margin: 20px;
  border-radius: 6px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0 0 0 / 10%);
}
.Dictionary h2 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color: dimgrey;
  margin-bottom: 25px;
}
.Dictionary input {
  width: 100%;
  border-radius: 6px;
  padding: 6px;
  padding-left: 10px;
  color: dimgrey;
  border: 1px solid #f29a30;
  /*color: lightgrey;
  color: silver;
  color: darkgrey;
  color: grey;
  color: dimgrey;
  color: black;*/
}
.Dictionary .hint {
  font-size: 13px;
  color: dimgrey;
  margin-top: 8px;
}
.Dictionary .extra-info-button {
  color: #f29a30;
  text-decoration: none;
  padding: 5px 13px 9px;
  border: #f29a30 solid 1px;
  border-radius: 30px;
  transition: all 250ms ease-in-out;
  margin: 0 10px 0 0;
  font-size: 13px;
  display: block;
  text-align: center;
}
.Dictionary .extra-info-button:hover {
  background-color: #f29a30;
  color: white;
}
